.pic{
  width: 5%;
  height: 4%;
}
.dege{
  width: 50%;
  height: 30%;
  float: right;
}
body{
  background-color: #00ff00;
  font-family: fantasy;
}
.navigation{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}
.well{
  font-style: italic;
  font-weight: bold;
  color: #0000ff;
  font-size: 40px;
}
.para{
  text-align: center;
  line-height: 24px;
}
.header{
  text-align: center;
  color: #ff0000;
}
